name: pytest

on:
  push:
      branches:
        - develop
        - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.x"
      - name: install dependencies
        run: |
          git clone https://bitbucket.org/mbradle/libnucnet_xsd.git wnutils/xsd_pub
          python -m pip install --upgrade pip
          pip install pytest requests
          pip install -e .
      - name: run test
        run: |
          pytest -v .github/workflows/wnutils_test.py
